In [1]:
pip install matplotlib pandas

Requirement already satisfied: matplotlib in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (3.3.4)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (1.2.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (8.1.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from pandas) (2020.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: six in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: six in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
WARNING: You are using pip version 20.3.1; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.0.0_1/libexec/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = (15, 10)

In [137]:
airports = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/airports.csv", encoding="ISO-8859-1")
airports = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/airports.csv", encoding="ISO-8859-1")

In [138]:
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [141]:
a = airports['faa'] == 'ORD'
airports[a]

,faa,name,lat,lon,alt,tz,dst,tzone
1026,ORD,Chicago Ohare Intl,41.978603,-87.904842,668,-6,A,America/Chicago

In [139]:
airPortFrame = airports[['name']]
airPortFrame.count()

name    1458
dtype: int64

In [26]:
#Liste des aeroport ne changeant pas d'heure en été 
is_airport_with_no_dst = df['dst'] == 'N'
df[is_airport_with_no_dst]

,faa,name,lat,lon,alt,tz,dst,tzone
167,AZA,Phoenix-Mesa Gateway,33.307833,-111.655000,1382,-7,N,America/Phoenix
363,DGL,Douglas Municipal Airport,31.342603,-109.506454,4173,-7,N,America/Phoenix
406,E91,Chinle Municipal Airport,36.110881,-109.575422,5547,-7,N,America/Denver
487,FLG,Flagstaff Pulliam Airport,35.140318,-111.669239,7015,-7,N,America/Phoenix
526,GCN,Grand Canyon National Park Airport,35.952361,-112.146972,6609,-7,N,America/Phoenix
532,GEU,Glendale Municipal Airport,33.526917,-112.295139,1071,-7,N,America/Phoenix
591,HII,Lake Havasu City Airport,34.571111,-114.358278,783,-7,N,America/Phoenix
600,HNL,Honolulu Intl,21.318681,-157.922428,13,-10,N,Pacific/Honolulu
667,INW,Winslow-Lindbergh Regional Airport,35.021917,-110.722528,4941,-7,N,America/Phoenix
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10,N,Pacific/Honolulu
693,JHM,Kapalua,20.962936,-156.673031,256,-10,N,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10,N,Pacific/Honolulu
794,LIH,Lihue,21.975983,-159.338958,153,-10,N,Pacific/Honolulu
806,LNY,Lanai,20.785611,-156.951419,1308,-10,N,Pacific/Honolulu
884,MKK,Molokai,21.152886,-157.096256,454,-10,N,Pacific/Honolulu
898,MMI,McMinn Co,35.399190,-84.561770,874,-5,N,America/New_York
947,MZJ,Pinal Airpark,32.509722,-111.325278,1893,-7,N,America/Phoenix
1006,OGG,Kahului,20.898650,-156.430458,54,-10,N,Pacific/Honolulu
1075,PHX,Phoenix Sky Harbor Intl,33.434278,-112.011583,1135,-7,N,America/Phoenix
1184,SAD,Safford Regional Airport,32.853333,-109.635083,3179,-7,N,America/Phoenix
1336,TUS,Tucson Intl,32.116083,-110.941028,2643,-7,N,America/Phoenix
1403,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10,N,Pacific/Honolulu
1439,YUM,Yuma Mcas Yuma Intl,32.656578,-114.605980,216,-7,N,America/Phoenix

In [33]:
#nombre ne changeant pas d'heure en été 
is_airport_with_no_dst = df['dst'] == 'N'
airport_with_no_dst_count = len(df[is_airport_with_no_dst])
print(airport_with_no_dst_count)

23

In [44]:
#nombre ne changeant pas d'heure en été 
is_airport_with_tzone = df['tzone']
is_airport_with_tzone.value_counts()

America/New_York       519
America/Chicago        342
America/Anchorage      239
America/Los_Angeles    176
America/Denver         119
America/Phoenix         38
Pacific/Honolulu        18
\N                       3
America/Vancouver        2
Asia/Chongqing           2
Name: tzone, dtype: int64

In [50]:
#liste des aeroport ne changeant pas de fuseau horaire
is_airport_with_tzone = df['tzone'] == '\\N'
df[is_airport_with_tzone]

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,\N
815,LRO,Mount Pleasant Regional-Faison Field,32.538700,-79.469700,12,-5,A,\N
1434,YAK,Yakutat,59.301200,-139.393700,33,-9,A,\N

In [51]:
#nombre ne changeant pas de fuseau horaire
is_airport_with_tzone = df['tzone'] == '\\N'
airport_with_tzone_count = len(df[is_airport_with_tzone])
print(airport_with_tzone_count)

3

In [257]:
#import airlines source.csv
airlines = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/airlines.csv", encoding="ISO-8859-1")

In [61]:
#Affichage des différentes colonnes
airlines.columns

Index(['carrier', 'name'], dtype='object')

In [69]:
# Nombre de compagnie differentes
airlines.count()

carrier    16
name       16
dtype: int64

In [80]:
#import palnes source.csv
planes = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/planes.csv", encoding="ISO-8859-1")

In [81]:
#Affichage des colonnes
planes.columns

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')

In [750]:
#Afiichage du nombre d'avionsdes colonnes
plaines_tailnum = planes['tailnum']
plaines_tailnum.nunique()

4044

In [83]:
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,,Turbo-fan
1,N102UW,1998,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
2,N103US,1999,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
3,N104UW,1999,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,,Turbo-fan
4,N10575,2002,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002,Fixed wing multi engine,BOEING,717-200,2,100,,Turbo-fan
3318,N997DL,1992,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,,Turbo-fan
3319,N998AT,2002,Fixed wing multi engine,BOEING,717-200,2,100,,Turbo-fan
3320,N998DL,1992,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,,Turbo-jet
3321,N999DN,1992,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,,Turbo-jet

In [88]:
#import flights source.csv
flights = pd.read_csv("/Users/citizen99xyz/workspace/python-labb/WebScrapping/FlightLated/flights.csv", encoding="ISO-8859-1")

In [89]:
#Affichage des colonnes
flights.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

In [93]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T05:00:00Z
2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T05:00:00Z
3,2013,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2013-01-01T05:00:00Z
4,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,,1455,,,1634,,9E,3393,,JFK,DCA,,213,14,55,2013-09-30T14:00:00Z
336772,2013,9,30,,2200,,,2312,,9E,3525,,LGA,SYR,,198,22,0,2013-09-30T22:00:00Z
336773,2013,9,30,,1210,,,1330,,MQ,3461,N535MQ,LGA,BNA,,764,12,10,2013-09-30T12:00:00Z
336774,2013,9,30,,1159,,,1344,,MQ,3572,N511MQ,LGA,CLE,,419,11,59,2013-09-30T11:00:00Z
336775,2013,9,30,,840,,,1020,,MQ,3531,N839MQ,LGA,RDU,,431,8,40,2013-09-30T08:00:00Z

In [100]:
#Affichage des vols sans 'dep_time' aka annulés
canceled_flights = flights['dep_time'] == ' '
flights[canceled_flights]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
838,2013,1,1,,1630,,,1815,,EV,4308,N18120,EWR,RDU,,416,16,30,2013-01-01T16:00:00Z
839,2013,1,1,,1935,,,2240,,AA,791,N3EHAA,LGA,DFW,,1389,19,35,2013-01-01T19:00:00Z
840,2013,1,1,,1500,,,1825,,AA,1925,N3EVAA,LGA,MIA,,1096,15,0,2013-01-01T15:00:00Z
841,2013,1,1,,600,,,901,,B6,125,N618JB,JFK,FLL,,1069,6,0,2013-01-01T06:00:00Z
1777,2013,1,2,,1540,,,1747,,EV,4352,N10575,EWR,CVG,,569,15,40,2013-01-02T15:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,,1455,,,1634,,9E,3393,,JFK,DCA,,213,14,55,2013-09-30T14:00:00Z
336772,2013,9,30,,2200,,,2312,,9E,3525,,LGA,SYR,,198,22,0,2013-09-30T22:00:00Z
336773,2013,9,30,,1210,,,1330,,MQ,3461,N535MQ,LGA,BNA,,764,12,10,2013-09-30T12:00:00Z
336774,2013,9,30,,1159,,,1344,,MQ,3572,N511MQ,LGA,CLE,,419,11,59,2013-09-30T11:00:00Z
336775,2013,9,30,,840,,,1020,,MQ,3531,N839MQ,LGA,RDU,,431,8,40,2013-09-30T08:00:00Z

In [105]:
#Affichage du nombre de vols sans 'dep_time' aka annulés
canceled_flights = flights['dep_time'] == ' '
canceled_flights_count = len(flights[canceled_flights])
print(str(canceled_flights_count) + ' vols annulés')

8255 vols annulés

In [ ]:
Quel est l’aéroport de départ le plus emprunté ?

In [751]:
# avoir un frame avec la fréquentation d'un aeroport en focntion de son nom de code 'LGA'
arriving_flights = flights['origin'] == '06C'
departure_flights = flights['dest'] == '06C'

flights[arriving_flights]
flights[departure_flights]

Empty DataFrame
Columns: [year, month, day, dep_time, sched_dep_time, dep_delay, arr_time, sched_arr_time, arr_delay, carrier, flight, tailnum, origin, dest, air_time, distance, hour, minute, time_hour]
Index: []

In [ ]:
10 DESTINATIONS LES PLUS PRISEES

In [173]:
# FAA Destination les plus visités
most_wanted_dest = flights['dest']
most_wanted_dest.value_counts()[0:10]

[17283, 17215, 16174, 15508, 14082, 14064, 13331, 12055, 11728, 9705]

In [203]:
# Liste des FAA Destination les plus visités
list_code_most_wanted_dest = most_wanted_dest.value_counts()[0:10]

#Creation d'un nouveau frame 
list_code_most_wanted_dest = pd.DataFrame(list_code_most_wanted_dest)

cleaned_list_word_best_airport = []

for word in list_code_most_wanted_dest.index:
    cleaned_list_word_best_airport.append(word)
    
print(cleaned_list_word_best_airport)

['ORD', 'ATL', 'LAX', 'BOS', 'MCO', 'CLT', 'SFO', 'FLL', 'MIA', 'DCA']

In [201]:
# FAA Destination les moins visités
worst_wanted_dest = most_wanted_dest.value_counts().sort_values(ascending=True)
list_worst_wanted_dest = worst_wanted_dest[0:10]

list_worst_wanted_dest = pd.DataFrame(list_worst_wanted_dest)

cleaned_list_word_worst_airport = []

for word in list_worst_wanted_dest.index:
    cleaned_list_word_worst_airport.append(word)
    
print(cleaned_list_word_worst_airport)

['LEX', 'LGA', 'ANC', 'SBN', 'HDN', 'MTJ', 'EYW', 'PSP', 'JAC', 'BZN']

In [232]:
# constituer tableau leger avec noms et codes des destinations
airports_faa_names_frame = airports[['faa', 'name']]

for worst_airport in cleaned_list_word_worst_airport:
    for airport in airports_faa_names_frame['faa']:
        if str(worst_airport) == str(airport):

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [204]:
# Croiser le tableau des destinations avec les aeroport les plus deservie
# for airport in airports['faa']:

for worst_airport in list_worst_wanted_dest.index:
    print(worst_airport)

LEX
LGA
ANC
SBN
HDN
MTJ
EYW
PSP
JAC
BZN

In [ ]:
# Croiser le tableau des destinations avec les areoport où il y a le plus de départ

In [ ]:
Trouver combien chaque compagnie a desservi de destination

In [233]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T05:00:00Z
2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T05:00:00Z
3,2013,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2013-01-01T05:00:00Z
4,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,,1455,,,1634,,9E,3393,,JFK,DCA,,213,14,55,2013-09-30T14:00:00Z
336772,2013,9,30,,2200,,,2312,,9E,3525,,LGA,SYR,,198,22,0,2013-09-30T22:00:00Z
336773,2013,9,30,,1210,,,1330,,MQ,3461,N535MQ,LGA,BNA,,764,12,10,2013-09-30T12:00:00Z
336774,2013,9,30,,1159,,,1344,,MQ,3572,N511MQ,LGA,CLE,,419,11,59,2013-09-30T11:00:00Z
336775,2013,9,30,,840,,,1020,,MQ,3531,N839MQ,LGA,RDU,,431,8,40,2013-09-30T08:00:00Z

In [238]:
# Avoir les Matricules des avions qui sont dans les vols non annulées

programmed_fligths = flights['dep_time'] != ' '
programmed_fligths = flights[programmed_fligths]

programmed_fligths_with_tailnum = programmed_fligths['tailnum'] != ' '

programmed_fligths_frame = programmed_fligths[programmed_fligths_with_tailnum]

In [266]:
# Nombre de destination différentes pour un compagny
test = programmed_fligths_frame['carrier'] == 'UA'

programmed_fligths_frame[test]['dest'].value_counts()

dest_count_by_compagny = len(programmed_fligths_frame[test]['dest'].value_counts())

print(dest_count_by_compagny)

47

In [ ]:
# Noms des aeroprts différent pour une avion

In [434]:
#Dictionnaire code + nom compagny
dictCarrier = {
    'carrier' : [],
    'compagny_name' : [],
    'deserved_airport_count' : [],
    'airport_origin': []
}

for airline in airlines.carrier:
    dictCarrier['carrier'].append(airline)
    
for airline in airlines.name:
    dictCarrier['compagny_name'].append(airline)
    
print(dictCarrier)

{'carrier': ['9E', 'AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'FL', 'HA', 'MQ', 'OO', 'UA', 'US', 'VX', 'WN', 'YV'], 'compagny_name': ['Endeavor Air Inc.', 'American Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways', 'Delta Air Lines Inc.', 'ExpressJet Airlines Inc.', 'Frontier Airlines Inc.', 'AirTran Airways Corporation', 'Hawaiian Airlines Inc.', 'Envoy Air', 'SkyWest Airlines Inc.', 'United Air Lines Inc.', 'US Airways Inc.', 'Virgin America', 'Southwest Airlines Co.', 'Mesa Airlines Inc.'], 'deserved_airport_count': [], 'airport_origin': []}

In [435]:
# Count des différentes destination desservies par une compagny
i = 0
for compagny in dictCarrier['carrier']:
    
    test = programmed_fligths_frame['carrier'] == dictCarrier['carrier'][i]
    print(dictCarrier['carrier'][i])
    programmed_fligths_frame[test]['dest']
    
    count = len(programmed_fligths_frame[test]['dest'].value_counts())
    dictCarrier['deserved_airport_count'].append(count)
    
    i = i +1

9E
AA
AS
B6
DL
EV
F9
FL
HA
MQ
OO
UA
US
VX
WN
YV

In [416]:
print(dictCarrier)

{'carrier': ['9E', 'AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'FL', 'HA', 'MQ', 'OO', 'UA', 'US', 'VX', 'WN', 'YV'], 'compagny_name': ['Endeavor Air Inc.', 'American Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways', 'Delta Air Lines Inc.', 'ExpressJet Airlines Inc.', 'Frontier Airlines Inc.', 'AirTran Airways Corporation', 'Hawaiian Airlines Inc.', 'Envoy Air', 'SkyWest Airlines Inc.', 'United Air Lines Inc.', 'US Airways Inc.', 'Virgin America', 'Southwest Airlines Co.', 'Mesa Airlines Inc.'], 'deserved_airport_count': [49, 19, 1, 42, 40, 61, 1, 3, 1, 20, 5, 47, 5, 5, 11, 3], 'airport_origin': []}

In [436]:
#combien chaque compagnie a desservie de destination par aeroport d'origine

j = 0
for compagny in dictCarrier['carrier']:
    
    flights_by_compagny = programmed_fligths_frame['carrier'] == dictCarrier['carrier'][j]
    
    print(dictCarrier['carrier'][j])
    
    airport_origins_by_compagny = programmed_fligths_frame[flights_by_compagny]['origin']
    
    airport_origins_by_compagny_list = airport_origins_by_compagny.value_counts().index.tolist()
    
    print(airport_origins_by_compagny_list)
    
    
        
    dictCarrier['airport_origin'].append(airport_origins_by_compagny_list)
    
    j = j +1

9E
['JFK', 'LGA', 'EWR']
AA
['LGA', 'JFK', 'EWR']
AS
['EWR']
B6
['JFK', 'EWR', 'LGA']
DL
['LGA', 'JFK', 'EWR']
EV
['EWR', 'LGA', 'JFK']
F9
['LGA']
FL
['LGA']
HA
['JFK']
MQ
['LGA', 'JFK', 'EWR']
OO
['LGA', 'EWR']
UA
['EWR', 'LGA', 'JFK']
US
['LGA', 'EWR', 'JFK']
VX
['JFK', 'EWR']
WN
['EWR', 'LGA']
YV
['LGA']

In [384]:
#Airport d'orgine des compagnies

In [438]:
print(dictCarrier)

{'carrier': ['9E', 'AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'FL', 'HA', 'MQ', 'OO', 'UA', 'US', 'VX', 'WN', 'YV'], 'compagny_name': ['Endeavor Air Inc.', 'American Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways', 'Delta Air Lines Inc.', 'ExpressJet Airlines Inc.', 'Frontier Airlines Inc.', 'AirTran Airways Corporation', 'Hawaiian Airlines Inc.', 'Envoy Air', 'SkyWest Airlines Inc.', 'United Air Lines Inc.', 'US Airways Inc.', 'Virgin America', 'Southwest Airlines Co.', 'Mesa Airlines Inc.'], 'deserved_airport_count': [49, 19, 1, 42, 40, 61, 1, 3, 1, 20, 5, 47, 5, 5, 11, 3], 'airport_origin': [['JFK', 'LGA', 'EWR'], ['LGA', 'JFK', 'EWR'], ['EWR'], ['JFK', 'EWR', 'LGA'], ['LGA', 'JFK', 'EWR'], ['EWR', 'LGA', 'JFK'], ['LGA'], ['LGA'], ['JFK'], ['LGA', 'JFK', 'EWR'], ['LGA', 'EWR'], ['EWR', 'LGA', 'JFK'], ['LGA', 'EWR', 'JFK'], ['JFK', 'EWR'], ['EWR', 'LGA'], ['LGA']]}

In [473]:
flights_by_compagny = programmed_fligths_frame['carrier'] == '9E'
flights_by_compagny_frame = programmed_fligths_frame[flights_by_compagny]

flights_by_origin = flights_by_compagny_frame['origin'] == 'LGA'
flights_by_origin_frame = flights_by_compagny_frame[flights_by_origin]

flights_by_origin_by_dest = flights_by_origin_frame['dest']

flights_by_origin_by_dest_count = flights_by_origin_by_dest.value_counts()

flights_by_origin_by_dest_size = len(flights_by_origin_by_dest_count)

flights_by_origin_by_dest_size

39

In [483]:
x = 0
for carrier in dictCarrier['carrier']:
    print(dictCarrier['compagny_name'][x])
    
    flights_by_carrier = programmed_fligths_frame['carrier'] == dictCarrier['carrier'][x]
    flights_by_carrier_frame = programmed_fligths_frame[flights_by_carrier]
    
    flights_by_origin = flights_by_carrier_frame['origin'] == 'LGA'
    flights_by_origin_frame = flights_by_carrier_frame[flights_by_origin]
    
    flights_by_origin_by_dest = flights_by_origin_frame['dest']
    flights_by_origin_by_dest_count = flights_by_origin_by_dest.value_counts()
    flights_by_origin_by_dest_size = len(flights_by_origin_by_dest_count)
    
    print(flights_by_origin_by_dest_size)
    
    x += 1

Endeavor Air Inc.
39
American Airlines Inc.
5
Alaska Airlines Inc.
0
JetBlue Airways
6
Delta Air Lines Inc.
22
ExpressJet Airlines Inc.
45
Frontier Airlines Inc.
1
AirTran Airways Corporation
3
Hawaiian Airlines Inc.
0
Envoy Air
12
SkyWest Airlines Inc.
3
United Air Lines Inc.
4
US Airways Inc.
4
Virgin America
0
Southwest Airlines Co.
8
Mesa Airlines Inc.
3

In [506]:
z = 0
w = 0

for carrier in dictCarrier['carrier']:
    print(dictCarrier['compagny_name'][z])
    
    flights_by_carrier = programmed_fligths_frame['carrier'] == dictCarrier['carrier'][z]
    flights_by_carrier_frame = programmed_fligths_frame[flights_by_carrier]
    
    for originList in dictCarrier['airport_origin'][z]:
        print(originList)
        
        
        
        flights_by_origin = flights_by_carrier_frame['origin'] == originList
        flights_by_origin_frame = flights_by_carrier_frame[flights_by_origin]
    
        flights_by_origin_by_dest = flights_by_origin_frame['dest']
        flights_by_origin_by_dest_count = flights_by_origin_by_dest.value_counts()
        flights_by_origin_by_dest_size = len(flights_by_origin_by_dest_count)
    
        print(flights_by_origin_by_dest_count)
    
    z += 1

Endeavor Air Inc.
JFK
MSP    1034
DCA    1016
ORD     989
PHL     867
BOS     860
BWI     820
RDU     801
BUF     741
DTW     735
PIT     717
CVG     602
IAD     533
MSY     411
ORF     353
BNA     348
DFW     348
CHS     332
CLE     316
IND     309
ROC     266
CLT     260
MCI     256
JAX     248
RIC     237
MKE     172
MVY      66
ATL      53
SAT      51
SDF      43
SYR      43
CMH      11
TPA       3
AUS       2
MEM       1
Name: dest, dtype: int64
LGA
DAY    344
TYS    265
SDF    212
MKE    126
JAX    125
SYR    116
PIT    109
BNA    106
GSP     96
RIC     85
DSM     84
IAD     81
MCI     81
SRQ     77
IND     73
CVG     68
RDU     67
RSW     67
BUF     52
GRR     39
ORF     21
DFW     14
CLT     12
AVL     10
MHT     10
ROC      7
CLE      7
DTW      3
CAE      3
BTV      2
MEM      2
BGR      1
GSO      1
MSP      1
MSY      1
CHS      1
LEX      1
MSN      1
CMH      1
Name: dest, dtype: int64
EWR
CVG    803
DTW    220
MSP    173
ATL      4
Name: dest, dtype: int64
American Airlines Inc.
LGA
ORD    5515
DFW    4693
MIA    3904
STL     871
PBI      80
Name: dest, dtype: int64
JFK
LAX    3196
MIA    2206
BOS    1431
SFO    1402
SJU    1090
MCO     726
LAS     635
SEA     361
DFW     360
SAN     359
AUS     359
ORD     356
TPA     308
STT     301
IAH     272
FLL     179
EGE     101
Name: dest, dtype: int64
EWR
DFW    1966
MIA    1061
LAX     361
Name: dest, dtype: int64
Alaska Airlines Inc.
EWR
SEA    712
Name: dest, dtype: int64
JetBlue Airways
JFK
MCO    3283
FLL    2964
BUF    2774
BOS    2533
SJU    2340
PBI    1725
TPA    1685
LAX    1683
ROC    1390
BTV    1349
LAS    1303
PWM    1286
SYR    1251
RSW    1236
MSY    1066
SFO    1029
JAX    1017
ORD     898
RDU     791
AUS     744
CLT     723
HOU     711
IAD     667
LGB     664
SAN     662
CHS     612
BQN     595
SEA     513
SRQ     472
BUR     370
PHX     364
SLC     364
PSE     361
DEN     337
SJC     327
PDX     324
OAK     311
SMF     282
ACK     265
ABQ     254
MVY     147
PIT      89
Name: dest, dtype: int64
EWR
BOS    1795
MCO    1704
FLL    1368
PBI     510
SJU     378
RSW     364
TPA     364
Name: dest, dtype: int64
LGA
FLL    2154
MCO    1428
PBI     894
TPA     725
RSW     362
SRQ     362
Name: dest, dtype: int64
Delta Air Lines Inc.
LGA
ATL    5486
DTW    3043
MSP    2397
MCO    2219
MIA    1821
FLL    1804
PBI    1454
TPA    1405
MSY     997
DEN     677
MEM     424
RSW     325
SRQ     263
PWM     233
PIT     201
MCI      80
EYW      17
CVG       4
BUF       3
IND       2
JAX       1
OMA       1
Name: dest, dtype: int64
JFK
LAX    2492
ATL    1871
SFO    1850
SLC    1742
LAS    1665
MCO    1425
SJU    1297
SEA    1206
MIA    1089
FLL    1076
BOS     962
TPA     708
SAN     573
PHX     467
PDX     457
DTW     383
DEN     362
AUS     354
SAT     302
MSY     119
RSW      93
PIT      46
STT      29
MSP      25
DCA       2
JAC       2
PHL       2
BNA       1
STL       1
Name: dest, dtype: int64
EWR
ATL    3122
MSP     415
DTW     414
SLC     352
Name: dest, dtype: int64
ExpressJet Airlines Inc.
EWR
DTW    2385
CVG    1724
CLT    1720
STL    1707
BNA    1686
MSP    1670
ATL    1662
RIC    1616
DCA    1577
RDU    1419
CHS    1353
MCI    1282
IND    1242
IAD    1204
JAX    1194
MKE    1065
DAY    1058
GSO    1049
BUF     937
BTV     887
SDF     859
MEM     853
MHT     824
PWM     736
OMA     728
GSP     696
GRR     694
CMH     688
SAV     685
MSY     567
ORF     546
PIT     531
ROC     490
ALB     419
BDL     405
DSM     393
PVD     358
MSN     350
BWI     340
OKC     327
TYS     314
TUL     299
XNA     286
AVL     253
CLE     167
BOS     156
SYR     146
CAE      95
MYR      55
PHL      48
TVC      23
SBN       4
ORD       2
TPA       1
Name: dest, dtype: int64
LGA
IAD    1301
PIT     706
CLT     662
CHS     476
GSO     450
MEM     414
RIC     411
CLE     389
BNA     377
BGR     359
BTV     275
BHM     271
MSN     211
ROC     209
MCI     197
CVG     188
ORF     174
RDU     163
SYR     155
ILM     108
MHT      98
OMA      91
CMH      88
BUF      69
SAV      68
DSM      51
JAX      49
CHO      46
PWM      40
TVC      40
SRQ      29
MKE      24
DTW      16
CAE       9
DFW       8
IND       7
SBN       6
PBI       6
STL       3
MYR       3
GRR       2
MSY       2
GSP       2
XNA       1
ATL       1
Name: dest, dtype: int64
JFK
IAD    1324
ATL       1
BHM       1
Name: dest, dtype: int64
Frontier Airlines Inc.
LGA
DEN    682
Name: dest, dtype: int64
AirTran Airways Corporation
LGA
ATL    2289
CAK     843
MKE      55
Name: dest, dtype: int64
Hawaiian Airlines Inc.
JFK
HNL    342
Name: dest, dtype: int64
Envoy Air
LGA
RDU    3155
ATL    2248
BNA    1966
DTW    1858
CMH    1854
CLT    1553
CLE    1290
MSP    1237
XNA     724
CRW     137
STL     134
TVC      33
Name: dest, dtype: int64
JFK
DCA    2073
RDU    1399
CMH     696
PIT     358
IND     355
CLE     353
CVG     351
BNA     347
ORF     346
BWI     336
TPA     252
Name: dest, dtype: int64
EWR
ORD    2108
Name: dest, dtype: int64
SkyWest Airlines Inc.
LGA
CLE    21
IAD     1
ORD     1
Name: dest, dtype: int64
EWR
MSP    4
DTW    2
Name: dest, dtype: int64
United Air Lines Inc.
EWR
SFO    4314
IAH    3932
LAX    3741
ORD    3741
BOS    3300
MCO    3197
FLL    2389
DEN    2151
LAS    1995
TPA    1956
PBI    1826
CLE    1565
MIA    1552
SAN    1130
PHX    1112
SEA    1112
DFW    1074
RSW    1062
SNA     819
SJU     686
AUS     664
PDX     567
HNL     363
SAT     325
BQN     296
MSY     265
STT     188
EGE     107
ATL     103
BZN      35
JAC      20
HDN      14
MTJ      14
ANC       8
BDL       7
IND       3
SDF       3
MSP       2
OMA       2
DCA       2
STL       2
PIT       2
CLT       2
RDU       1
IAD       1
CHS       1
DTW       1
Name: dest, dtype: int64
LGA
ORD    3032
IAH    2899
DEN    1606
CLE     300
Name: dest, dtype: int64
JFK
SFO    2448
LAX    2042
Name: dest, dtype: int64
US Airways Inc.
LGA
DCA    4487
BOS    4012
CLT    3484
PHL     591
Name: dest, dtype: int64
EWR
CLT    3180
PHX    1150
Name: dest, dtype: int64
JFK
CLT    1844
PHX    1092
PHL      33
Name: dest, dtype: int64
Virgin America
JFK
LAX    1783
SFO    1409
LAS     364
PSP      18
SJC       1
Name: dest, dtype: int64
EWR
LAX    778
SFO    778
Name: dest, dtype: int64
Southwest Airlines Co.
EWR
MDW    2000
HOU     955
STL     682
DEN     680
BNA     564
PHX     426
MSY     296
AUS     295
BWI     185
Name: dest, dtype: int64
LGA
MDW    2044
MKE    1276
STL     768
BNA     709
DEN     706
HOU     424
ATL      58
BWI      15
Name: dest, dtype: int64
Mesa Airlines Inc.
LGA
IAD    279
CLT    258
PHL      8
Name: dest, dtype: int64

In [507]:
print(dictCarrier)

{'carrier': ['9E', 'AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'FL', 'HA', 'MQ', 'OO', 'UA', 'US', 'VX', 'WN', 'YV'], 'compagny_name': ['Endeavor Air Inc.', 'American Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways', 'Delta Air Lines Inc.', 'ExpressJet Airlines Inc.', 'Frontier Airlines Inc.', 'AirTran Airways Corporation', 'Hawaiian Airlines Inc.', 'Envoy Air', 'SkyWest Airlines Inc.', 'United Air Lines Inc.', 'US Airways Inc.', 'Virgin America', 'Southwest Airlines Co.', 'Mesa Airlines Inc.'], 'deserved_airport_count': [49, 19, 1, 42, 40, 61, 1, 3, 1, 20, 5, 47, 5, 5, 11, 3], 'airport_origin': [['JFK', 'LGA', 'EWR'], ['LGA', 'JFK', 'EWR'], ['EWR'], ['JFK', 'EWR', 'LGA'], ['LGA', 'JFK', 'EWR'], ['EWR', 'LGA', 'JFK'], ['LGA'], ['LGA'], ['JFK'], ['LGA', 'JFK', 'EWR'], ['LGA', 'EWR'], ['EWR', 'LGA', 'JFK'], ['LGA', 'EWR', 'JFK'], ['JFK', 'EWR'], ['EWR', 'LGA'], ['LGA']]}

In [537]:
#Trouver tous les vols ayant atterri à Houston

flights_by_dest_1 = programmed_fligths_frame['dest'] == 'HOU'
flights_by_dest_1_frame = programmed_fligths_frame[flights_by_dest_1]

flights_by_dest_2 = programmed_fligths_frame['dest'] == 'IAH'
flights_by_dest_2_frame = programmed_fligths_frame[flights_by_dest_2]

frames = pd.concat([flights_by_dest_1_frame, flights_by_dest_2_frame])

frames

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
313,2013,1,1,1208,1158,10,1540,1502,38,B6,625,N239JB,JFK,HOU,253,1428,11,58,2013-01-01T11:00:00Z
357,2013,1,1,1306,1300,6,1622,1610,12,WN,2596,N773SA,EWR,HOU,239,1411,13,0,2013-01-01T13:00:00Z
584,2013,1,1,1708,1700,8,2037,2005,32,WN,1066,N778SW,EWR,HOU,245,1411,17,0,2013-01-01T17:00:00Z
770,2013,1,1,2030,2035,-5,2354,2342,12,B6,629,N192JB,JFK,HOU,245,1428,20,35,2013-01-01T20:00:00Z
963,2013,1,2,734,700,34,1045,1025,20,WN,20,N485WN,EWR,HOU,235,1411,7,0,2013-01-02T07:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336487,2013,9,30,1701,1704,-3,1939,1958,-19,UA,525,N458UA,LGA,IAH,182,1416,17,4,2013-09-30T17:00:00Z
336524,2013,9,30,1729,1720,9,2001,2010,-9,UA,652,N455UA,EWR,IAH,173,1400,17,20,2013-09-30T17:00:00Z
336618,2013,9,30,1859,1859,0,2134,2159,-25,UA,1128,N14731,LGA,IAH,180,1416,18,59,2013-09-30T18:00:00Z
336694,2013,9,30,2015,2015,0,2244,2307,-23,UA,1545,N17730,EWR,IAH,174,1400,20,15,2013-09-30T20:00:00Z
336737,2013,9,30,2105,2106,-1,2329,2354,-25,UA,475,N477UA,EWR,IAH,175,1400,21,6,2013-09-30T21:00:00Z

In [543]:
flights_by_dest_1 = programmed_fligths_frame['dest'] == 'SEA'
flights_by_dest_1_frame = programmed_fligths_frame[flights_by_dest_1]

flights_by_dest_2 = programmed_fligths_frame['dest'] == 'NYC'
flights_by_dest_2_frame = programmed_fligths_frame[flights_by_dest_2]

flights_by_dest_2_frame

Empty DataFrame
Columns: [year, month, day, dep_time, sched_dep_time, dep_delay, arr_time, sched_arr_time, arr_delay, carrier, flight, tailnum, origin, dest, air_time, distance, hour, minute, time_hour]
Index: []

In [547]:
# Quelle compagny dessert seattle

flights_by_dest_1 = programmed_fligths_frame['dest'] == 'SEA'
flights_by_dest_1_frame = programmed_fligths_frame[flights_by_dest_1]

flights_by_compagny_for_dest = flights_by_dest_1_frame['carrier'].value_counts()

print(len (flights_by_compagny_for_dest))

5

In [548]:
#combien d’avions “uniques” pour une dest 


flights_by_dest_1 = programmed_fligths_frame['dest'] == 'SEA'
flights_by_dest_1_frame = programmed_fligths_frame[flights_by_dest_1]

flights_by_compagny_for_dest = flights_by_dest_1_frame['tailnum'].value_counts()

print(len (flights_by_compagny_for_dest))

935

In [588]:
#combien d’avions “uniques” pour une dest 


flights_by_dest_1 = programmed_fligths_frame['origin'] == 'JFK'
flights_by_dest_1_frame = programmed_fligths_frame[flights_by_dest_1]

flights_by_compagny_for_dest = flights_by_dest_1_frame['tailnum'].value_counts()

print(len (flights_by_compagny_for_dest))

1957

##### Nombre de vol par destination

print(airlines.to_dict()

In [621]:
flights_for_dest = programmed_fligths_frame['dest'] =='IAH'
flights_for_dest_frame = programmed_fligths_frame[flights_for_dest]

flights_for_dest_frame

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T05:00:00Z
32,2013,1,1,623,627,-4,933,932,1,UA,496,N459UA,LGA,IAH,229,1416,6,27,2013-01-01T06:00:00Z
81,2013,1,1,728,732,-4,1041,1038,3,UA,473,N488UA,LGA,IAH,238,1416,7,32,2013-01-01T07:00:00Z
89,2013,1,1,739,739,0,1104,1038,26,UA,1479,N37408,EWR,IAH,249,1400,7,39,2013-01-01T07:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336487,2013,9,30,1701,1704,-3,1939,1958,-19,UA,525,N458UA,LGA,IAH,182,1416,17,4,2013-09-30T17:00:00Z
336524,2013,9,30,1729,1720,9,2001,2010,-9,UA,652,N455UA,EWR,IAH,173,1400,17,20,2013-09-30T17:00:00Z
336618,2013,9,30,1859,1859,0,2134,2159,-25,UA,1128,N14731,LGA,IAH,180,1416,18,59,2013-09-30T18:00:00Z
336694,2013,9,30,2015,2015,0,2244,2307,-23,UA,1545,N17730,EWR,IAH,174,1400,20,15,2013-09-30T20:00:00Z
336737,2013,9,30,2105,2106,-1,2329,2354,-25,UA,475,N477UA,EWR,IAH,175,1400,21,6,2013-09-30T21:00:00Z

In [ ]:
for airport_faa in airports.faa:
    
    flights_for_dest = programmed_fligths_frame['dest'] == airport_faa
    flights_for_dest_frame = programmed_fligths_frame[flights_for_dest]

    flights_by_compagny_for_dest = flights_for_dest_frame['tailnum'].value_counts()
    
    print(programmed_fligths_frame[flights_by_compagny_for_dest])
    #count = len(flights_by_compagny_for_dest)
    
    #newDict['airport_origin'].append(airport_faa)
    #newDict['flights_count'].append('x')

In [743]:
newDict = {
    'airport_destination': [],
    'airport_name': [],
    'flights_count' : []
}

for airport_faa in airports.faa:
    
    flights_for_dest = programmed_fligths_frame['dest'] == airport_faa
    flights_for_dest_frame = programmed_fligths_frame[flights_for_dest]
    
    
    count = len(flights_for_dest_frame['tailnum'].value_counts())
    print(str(airport_faa) + str(count))
    
    newDict['airport_destination'].append(airport_faa)
    newDict['flights_count'].append(count)

for airport in airports['name']:
    newDict['airport_name'].append(airport)

04G0
06A0
06C0
06N0
09J0
0A90
0G60
0G70
0P20
0S90
0W30
10C0
17G0
19A0
1A30
1B90
1C90
1CS0
1G30
1G40
1H20
1OH0
1RL0
23M0
24C0
24J0
25D0
29D0
2A00
2B20
2G20
2G90
2H00
2J90
3690
36U0
38W0
3D20
3G30
3G40
3J10
3W20
40J0
41N0
47A0
49A0
49X0
4A40
4A70
4A90
4B80
4G00
4G20
4G40
4I70
4U90
52A0
54J0
55J0
55S0
57C0
5B20
60J0
6A20
6J40
6K80
6S00
6S20
6Y80
70J0
70N0
7A40
7D90
7N70
8M80
93C0
99N0
9A10
9A50
9G10
A390
A500
AAF0
AAP0
ABE0
ABI0
ABL0
ABQ108
ABR0
ABY0
ACJ0
ACK58
ACT0
ACV0
ACY0
ADK0
ADM0
ADQ0
ADS0
ADW0
AET0
AEX0
AFE0
AFW0
AGC0
AGN0
AGS0
AHN0
AIA0
AIK0
AIN0
AIZ0
AKB0
AKC0
AKI0
AKK0
AKN0
AKP0
ALB170
ALI0
ALM0
ALO0
ALS0
ALW0
ALX0
ALZ0
AMA0
ANB0
ANC6
AND0
ANI0
ANN0
ANP0
ANQ0
ANV0
AOH0
AOO0
AOS0
APA0
APC0
APF0
APG0
APN0
AQC0
ARA0
ARB0
ARC0
ART0
ARV0
ASE0
ASH0
AST0
ATK0
ATL1178
ATT0
ATW0
ATY0
AUG0
AUK0
AUO0
AUS987
AUW0
AVL154
AVO0
AVP0
AVW0
AVX0
AZA0
AZO0
BAB0
BAD0
BAF0
BBX0
BCE0
BCT0
BDE0
BDL179
BDR0
BEC0
BED0
BEH0
BET0
BFD0
BFF0
BFI0
BFL0
BFM0
BFP0
BFT0
BGE0
BGM0
BGR46
BHB0
BHM44
BID0
BIF0
BIG0
BIL0
BIS0
BIV0
BIX0
BJC0
BJI0
BKC0
BKD0
BKF0
BKG0
BKH0
BKL0
BKW0
BKX0
BLD0
BLF0
BLH0
BLI0
BLV0
BMC0
BMG0
BMI0
BMT0
BMX0
BNA961
BOI0
BOS1305
BOW0
BPT0
BQK0
BRD0
BRL0
BRO0
BRW0
BSF0
BTI0
BTM0
BTR0
BTT0
BTV388
BUF498
BUR120
BUU0
BUY0
BVY0
BWD0
BWG0
BWI623
BXK0
BXS0
BYH0
BYS0
BYW0
BZN31
C020
C160
C470
C650
C890
C910
CAE87
CAK90
CAR0
CBE0
CBM0
CCO0
CCR0
CDB0
CDC0
CDI0
CDK0
CDN0
CDR0
CDS0
CDV0
CDW0
CEC0
CEF0
CEM0
CEU0
CEW0
CEZ0
CFD0
CGA0
CGC0
CGF0
CGI0
CGX0
CGZ0
CHA0
CHI0
CHO25
CHS449
CHU0
CIC0
CID0
CIK0
CIL0
CIU0
CKB0
CKD0
CKF0
CKV0
CLC0
CLD0
CLE953
CLL0
CLM0
CLS0
CLT819
CLW0
CMH462
CMI0
CMX0
CNM0
CNW0
CNY0
COD0
COE0
COF0
COI0
CON0
COS0
COT0
COU0
CPR0
CPS0
CRE0
CRP0
CRW20
CSG0
CTB0
CTH0
CTJ0
CTY0
CVG559
CVN0
CVO0
CVS0
CVX0
CWA0
CWI0
CWT0
CXF0
CXL0
CXO0
CXY0
CYF0
CYM0
CYS0
CYT0
CZF0
CZG0
CZN0
DAB0
DAL0
DAW0
DAY329
DBN0
DBQ0
DCA468
DDC0
DEC0
DEN1249
DET0
DFW770
DGL0
DHB0
DHN0
DHT0
DIK0
DKB0
DKK0
DKX0
DLF0
DLG0
DLH0
DLL0
DMA0
DNL0
DNN0
DNV0
DOV0
DPA0
DQH0
DRG0
DRI0
DRM0
DRO0
DRT0
DSM205
DTA0
DTS0
DTW830
DUC0
DUG0
DUJ0
DUT0
DVL0
DVT0
DWA0
DWH0
DWS0
DXR0
DYS0
E250
E510
E550
E630
E910
EAA0
EAR0
EAT0
EAU0
ECA0
ECG0
ECP0
EDF0
EDW0
EEK0
EEN0
EET0
EFD0
EGA0
EGE80
EGT0
EGV0
EGX0
EHM0
EIL0
EKI0
EKN0
EKO0
EKY0
ELD0
ELI0
ELM0
ELP0
ELV0
ELY0
EMK0
EMP0
ENA0
END0
ENV0
ENW0
EOK0
EPM0
EQY0
ERI0
ERV0
ERY0
ESC0
ESD0
ESF0
ESN0
EUF0
EUG0
EVV0
EVW0
EWB0
EWK0
EWN0
EWR0
EXI0
EYW8
F570
FAF0
FAI0
FAR0
FAT0
FAY0
FBG0
FBK0
FBR0
FBS0
FCA0
FCM0
FCS0
FDW0
FDY0
FFA0
FFC0
FFO0
FFT0
FFZ0
FHU0
FIT0
FKL0
FLD0
FLG0
FLL1059
FLO0
FLV0
FME0
FMH0
FMN0
FMY0
FNL0
FNR0
FNT0
FOD0
FOE0
FOK0
FRD0
FRI0
FRN0
FRP0
FSD0
FSI0
FSM0
FST0
FTK0
FTW0
FTY0
FUL0
FWA0
FXE0
FYU0
FYV0
FZG0
FZI0
GAD0
GAI0
GAL0
GAM0
GBN0
GCC0
GCK0
GCN0
GCW0
GDV0
GDW0
GED0
GEG0
GEU0
GFK0
GFL0
GGE0
GGG0
GGW0
GHG0
GIF0
GJT0
GKN0
GKY0
GLD0
GLH0
GLS0
GLV0
GNT0
GNU0
GNV0
GON0
GPT0
GPZ0
GQQ0
GRB0
GRF0
GRI0
GRK0
GRM0
GRR240
GSB0
GSO244
GSP271
GST0
GTB0
GTF0
GTR0
GTU0
GUC0
GUP0
GUS0
GVL0
GVQ0
GVT0
GWO0
GYY0
HBG0
HBR0
HCC0
HCR0
HDH0
HDI0
HDN13
HDO0
HFD0
HGR0
HHH0
HHI0
HHR0
HIB0
HIF0
HII0
HIO0
HKB0
HKY0
HLG0
HLN0
HLR0
HMN0
HNH0
HNL30
HNM0
HNS0
HOB0
HOM0
HON0
HOP0
HOT0
HOU569
HPB0
HPN0
HQM0
HQU0
HRL0
HRO0
HRT0
HSH0
HSL0
HST0
HSV0
HTL0
HTS0
HUA0
HUF0
HUL0
HUS0
HUT0
HVN0
HVR0
HWD0
HWO0
HXD0
HYA0
HYG0
HYL0
HYS0
HZL0
IAB0
IAD454
IAG0
IAH751
IAN0
ICT0
ICY0
IDA0
IDL0
IFP0
IGG0
IGM0
IGQ0
IJD0
IKK0
IKO0
IKR0
IKV0
ILG0
ILI0
ILM41
ILN0
IMM0
IMT0
IND456
INJ0
INK0
INL0
INS0
INT0
INW0
IOW0
IPL0
IPT0
IRC0
IRK0
ISM0
ISN0
ISO0
ISP0
ISW0
ITH0
ITO0
IWD0
IWS0
IYK0
IZG0
JAC17
JAN0
JAX417
JBR0
JCI0
JEF0
JES0
JFK0
JGC0
JHM0
JHW0
JKA0
JLN0
JMS0
JNU0
JOT0
JRA0
JRB0
JST0
JVL0
JXN0
JYL0
JYO0
JZP0
K030
K270
K830
KAE0
KAL0
KBC0
KBW0
KCC0
KCL0
KCQ0
KEH0
KEK0
KFP0
KGK0
KGX0
KKA0
KKB0
KKH0
KLG0
KLL0
KLN0
KLS0
KLW0
KMO0
KMY0
KNW0
KOA0
KOT0
KOY0
KOZ0
KPB0
KPC0
KPN0
KPR0
KPV0
KPY0
KQA0
KSM0
KTB0
KTN0
KTS0
KUK0
KVC0
KVL0
KWK0
KWN0
KWP0
KWT0
KYK0
KYU0
KZB0
L060
L350
L520
LAA0
LAF0
LAL0
LAM0
LAN0
LAR0
LAS1033
LAW0
LAX990
LBB0
LBE0
LBF0
LBL0
LBT0
LCH0
LCK0
LCQ0
LDJ0
LEB0
LEW0
LEX1
LFI0
LFK0
LFT0
LGA0
LGB128
LGC0
LGU0
LHD0
LHM0
LHV0
LHX0
LIH0
LIT0
LIV0
LKE0
LKK0
LKP0
LMT0
LNA0
LNK0
LNN0
LNR0
LNS0
LNY0
LOT0
LOU0
LOZ0
LPC0
LPR0
LPS0
LRD0
LRF0
LRO0
LRU0
LSE0
LSF0
LSV0
LTS0
LUF0
LUK0
LUP0
LUR0
LVK0
LVM0
LVS0
LWA0
LWB0
LWC0
LWM0
LWS0
LWT0
LXY0
LYH0
LYU0
LZU0
M940
MAE0
MAF0
MBL0
MBS0
MCC0
MCD0
MCE0
MCF0
MCG0
MCI267
MCK0
MCL0
MCN0
MCO1197
MCW0
MDT0
MDW526
ME50
MEI0
MEM308
MER0
MFD0
MFE0
MFI0
MFR0
MGC0
MGE0
MGJ0
MGM0
MGR0
MGW0
MGY0
MHK0
MHM0
MHR0
MHT233
MHV0
MIA1174
MIB0
MIC0
MIE0
MIV0
MKC0
MKE704
MKG0
MKK0
MKL0
MKO0
MLB0
MLC0
MLD0
MLI0
MLJ0
MLL0
MLS0
MLT0
MLU0
MLY0
MMH0
MMI0
MMU0
MMV0
MNM0
MNT0
MNZ0
MOB0
MOD0
MOT0
MOU0
MPB0
MPI0
MPV0
MQB0
MQI0
MQT0
MRB0
MRI0
MRK0
MRN0
MRY0
MSL0
MSN195
MSO0
MSP626
MSS0
MSY834
MTC0
MTH0
MTJ14
MTM0
MTN0
MUE0
MUI0
MUO0
MVL0
MVY101
MWA0
MWC0
MWH0
MWL0
MWM0
MXF0
MXY0
MYF0
MYL0
MYR52
MYU0
MYV0
MZJ0
N530
N690
N870
NBG0
NBU0
NCN0
NEL0
NEW0
NFL0
NGF0
NGP0
NGU0
NGZ0
NHK0
NIB0
NID0
NIP0
NJK0
NKT0
NKX0
NLC0
NLG0
NME0
NMM0
NNL0
NOW0
NPA0
NPZ0
NQA0
NQI0
NQX0
NSE0
NTD0
NTU0
NUI0
NUL0
NUP0
NUQ0
NUW0
NXP0
NXX0
NY90
NYC0
NYG0
NZC0
NZJ0
NZY0
O030
O270
OAJ0
OAK117
OAR0
OBE0
OBU0
OCA0
OCF0
OEB0
OFF0
OGG0
OGS0
OJC0
OKC101
OLF0
OLH0
OLM0
OLS0
OLT0
OLV0
OMA158
OME0
OMN0
ONH0
ONP0
ONT0
OOK0
OPF0
OQN0
OQU0
ORD1212
ORF455
ORH0
ORI0
ORL0
ORT0
ORV0
OSC0
OSH0
OSU0
OTH0
OTS0
OTZ0
OWB0
OWD0
OXC0
OXD0
OXR0
OZA0
P080
P520
PAE0
PAH0
PAM0
PAO0
PAQ0
PBF0
PBG0
PBI978
PBV0
PBX0
PCW0
PCZ0
PDB0
PDK0
PDT0
PDX491
PEC0
PEQ0
PFN0
PGA0
PGD0
PGV0
PHD0
PHF0
PHK0
PHL256
PHN0
PHO0
PHX941
PIA0
PIB0
PIE0
PIH0
PIM0
PIP0
PIR0
PIT699
PIZ0
PKB0
PLN0
PMB0
PMD0
PML0
PMP0
PNC0
PNE0
PNM0
PNS0
POB0
POC0
POE0
POF0
PPC0
PPV0
PQI0
PQS0
PRC0
PRL0
PSC0
PSG0
PSM0
PSP9
PSX0
PTA0
PTB0
PTH0
PTK0
PTU0
PUB0
PUC0
PUW0
PVC0
PVD154
PVU0
PWK0
PWM364
PWT0
PYM0
PYP0
R490
RAC0
RAL0
RAP0
RBD0
RBK0
RBM0
RBN0
RBY0
RCA0
RCE0
RCZ0
RDD0
RDG0
RDM0
RDR0
RDU601
RDV0
REI0
RFD0
RHI0
RIC414
RID0
RIF0
RIL0
RIR0
RIU0
RIV0
RIW0
RKD0
RKH0
RKP0
RKS0
RME0
RMG0
RMP0
RMY0
RND0
RNM0
RNO0
RNT0
ROA0
ROC503
ROW0
RSH0
RSJ0
RST0
RSW718
RUT0
RVS0
RWI0
RWL0
RYY0
S300
S400
S460
SAA0
SAC0
SAD0
SAF0
SAN761
SAT310
SAV226
SBA0
SBD0
SBM0
SBN10
SBO0
SBP0
SBS0
SBY0
SCC0
SCE0
SCH0
SCK0
SCM0
SDC0
SDF300
SDM0
SDP0
SDX0
SDY0
SEA935
SEE0
SEF0
SEM0
SES0
SFB0
SFF0
SFM0
SFO854
SFZ0
SGF0
SGH0
SGJ0
SGR0
SGU0
SGY0
SHD0
SHG0
SHH0
SHR0
SHV0
SHX0
SIK0
SIT0
SJC118
SJT0
SKA0
SKF0
SKK0
SKY0
SLC375
SLE0
SLK0
SLN0
SLQ0
SMD0
SME0
SMF110
SMK0
SMN0
SMO0
SMX0
SNA213
SNP0
SNY0
SOP0
SOW0
SPB0
SPF0
SPG0
SPI0
SPS0
SPW0
SPZ0
SQL0
SRQ371
SRR0
SRV0
SSC0
SSI0
STC0
STE0
STG0
STJ0
STK0
STL953
STS0
SUA0
SUE0
SUN0
SUS0
SUU0
SUX0
SVA0
SVC0
SVH0
SVN0
SVW0
SWD0
SWF0
SXP0
SXQ0
SYA0
SYB0
SYR380
SZL0
TAL0
TAN0
TBN0
TCC0
TCL0
TCM0
TCS0
TCT0
TEB0
TEK0
TEX0
TIK0
TIW0
TIX0
TKA0
TKE0
TKF0
TKI0
TLA0
TLH0
TLJ0
TLT0
TMA0
TMB0
TNC0
TNK0
TNT0
TNX0
TOA0
TOC0
TOG0
TOL0
TOP0
TPA1125
TPL0
TRI0
TRM0
TSS0
TTD0
TTN0
TUL101
TUP0
TUS0
TVC57
TVF0
TVI0
TVL0
TWA0
TWD0
TWF0
TXK0
TYE0
TYR0
TYS270
TZR0
U760
UCA0
UDD0
UDG0
UES0
UGN0
UIN0
UMP0
UNK0
UPP0
UST0
UT30
UTM0
UTO0
UUK0
UUU0
UVA0
VAD0
VAK0
VAY0
VBG0
VCT0
VCV0
VDF0
VDZ0
VEE0
VEL0
VGT0
VIS0
VLD0
VNW0
VNY0
VOK0
VPC0
VPS0
VRB0
VSF0
VYS0
W040
W130
WAA0
WAL0
WAS0
WBB0
WBQ0
WBU0
WBW0
WDR0
WFB0
WFK0
WHD0
WHP0
WIH0
WKK0
WKL0
WLK0
WMO0
WRB0
WRG0
WRI0
WRL0
WSD0
WSJ0
WSN0
WST0
WSX0
WTK0
WTL0
WWD0
WWP0
WWT0
WYS0
X010
X040
X070
X210
X260
X390
X490
X590
XFL0
XNA173
XZK0
Y510
Y720
YAK0
YIP0
YKM0
YKN0
YNG0
YUM0
Z840
ZBP0
ZFV0
ZPH0
ZRA0
ZRD0
ZRP0
ZRT0
ZRZ0
ZSF0
ZSY0
ZTF0
ZTY0
ZUN0
ZVE0
ZWI0
ZWU0
ZYP0

04G
06A
06C
06N
09J
0A9
0G6
0G7
0P2

In [745]:
print(len(newDict['airport_destination']))
print(len(newDict['flights_count']))

1458
1458

In [746]:
newFrame = pd.DataFrame.from_dict(newDict)
newFrame

     airport_destination                   airport_name  flights_count
0                    04G              Lansdowne Airport              0
1                    06A  Moton Field Municipal Airport              0
2                    06C            Schaumburg Regional              0
3                    06N                Randall Airport              0
4                    09J          Jekyll Island Airport              0
...                  ...                            ...            ...
1453                 ZUN                     Black Rock              0
1454                 ZVE         New Haven Rail Station              0
1455                 ZWI      Wilmington Amtrak Station              0
1456                 ZWU       Washington Union Station              0
1457                 ZYP                   Penn Station              0

[1458 rows x 3 columns]

In [747]:
result = newFrame.sort_values(by=['flights_count'], ascending=False)
result

     airport_destination                        airport_name  flights_count
223                  BOS  General Edward Lawrence Logan Intl           1305
360                  DEN                         Denver Intl           1249
1026                 ORD                  Chicago Ohare Intl           1212
852                  MCO                        Orlando Intl           1197
153                  ATL     Hartsfield Jackson Atlanta Intl           1178
...                  ...                                 ...            ...
503                  FRN                          Bryant Ahp              0
502                  FRI                        Marshall Aaf              0
501                  FRD               Friday Harbor Airport              0
500                  FOK                  Francis S Gabreski              0
1457                 ZYP                        Penn Station              0

[1458 rows x 3 columns]

In [742]:
for airport in airports['name']:
    print(airport)

Lansdowne Airport
Moton Field Municipal Airport
Schaumburg Regional
Randall Airport
Jekyll Island Airport
Elizabethton Municipal Airport
Williams County Airport
Finger Lakes Regional Airport
Shoestring Aviation Airfield
Jefferson County Intl
Harford County Airport
Galt Field Airport
Port Bucyrus-Crawford County Airport
Jackson County Airport
Martin Campbell Field Airport
Mansfield Municipal
Frazier Lake Airpark
Clow International Airport
Kent State Airport
Grand Canyon West Airport
Effingham Memorial Airport
Fortman Airport
Point Roberts Airpark
Clarke CO
Lowell City Airport
Suwannee County Airport
Forest Lake Airport
Grove City Airport
Mark Anton Airport
Plum Island Airport
Jefferson County Airpark
Somerset County Airport
Shelby County Airport
Quincy Municipal Airport
Atmautluak Airport
Heber City Municipal Airport
Lynden Airport
Ephraim-Gibraltar Airport
Wadsworth Municipal
Ashland County Airport
Ridgeland Airport
Put-in-Bay Airport
Perry-Foley Airport
Braceville Airport
Cherokee County Airport
Gilmer County Airport
Chemehuevi Valley
Polk County Airport - Cornelius Moore Field
Clayton County Tara Field
Isbell Field Airport
Robertson Field
Pittsburgh-Monroeville Airport
Hamburg Inc Airport
Youngstown Elser Metro Airport
Putnam County Airport
Dell Flight Strip
Madison GA Municipal Airport
DeFuniak Springs Airport
Fernandina Beach Municipal Airport
Packwood
East Troy Municipal Airport
Saratoga County Airport
Ocean Isle Beach Airport
Griffin-Spalding County Airport
Saluda County
Tok Junction Airport
Big Timber Airport
Florence
Welke Airport
Cairo-Grady County Airport
Spring Hill Airport
Foster Field
Germack Airport
Spitfire Aerodrome
Garland Airport
Richland Airport
Bamberg County Airport
Covington Municipal Airport
Barwick Lafayette Airport
Rock Airport
Phoenix Regional Airport
Colorado Springs East
Apalachicola Regional Airport
Andrau Airport
Lehigh Valley Intl
Abilene Rgnl
Ambler Airport
Albuquerque International Sunport
Aberdeen Regional Airport
Southwest Georgia Regional Airport
Jimmy Carter Regional
Nantucket Mem
Waco Rgnl
Arcata
Atlantic City Intl
Adak Airport
Ardmore Muni
Kodiak
Addison
Andrews Afb
Allakaket Airport
Alexandria Intl
Kake Airport
Fort Worth Alliance Airport
Allegheny County Airport
Angoon Seaplane Base
Augusta Rgnl At Bush Fld
Athens Ben Epps Airport
Alliance Municipal Airport
Municipal Airport
Wainwright Airport
Lee C Fine Memorial Airport
Atka Airport
Akron Fulton Intl
Akiak Airport
Akhiok Airport
King Salmon
Anaktuvuk Pass Airport
Albany Intl
Alice Intl
Alamogordo White Sands Regional Airport
Waterloo Regional Airport
San Luis Valley Regional Airport
Walla Walla Regional Airport
Alexandria
Alitak Seaplane Base
Rick Husband Amarillo Intl
Anniston Metro
Ted Stevens Anchorage Intl
Anderson Rgnl
Aniak Airport
Annette Island
Lee Airport
Tri-State Steuben County Airport
Anvik Airport
Lima Allen County Airport
Altoona Blair Co
Amook Bay Seaplane Base
Centennial
Napa County Airport
Naples Muni
Phillips Aaf
Alpena County Regional Airport
Klawock Seaplane Base
Acadiana Rgnl
Ann Arbor Municipal Airport
Arctic Village Airport
Watertown Intl
Lakeland
Aspen Pitkin County Sardy Field
Boire Field Airport
Astoria Regional Airport
Atqasuk Edward Burnell Sr Memorial Airport
Hartsfield Jackson Atlanta Intl
Camp Mabry Austin City
Appleton
Watertown Regional Airport
Augusta State
Alakanuk Airport
Auburn University Regional
Austin Bergstrom Intl
Wausau Downtown Airport
Asheville Regional Airport
Executive
Wilkes Barre Scranton Intl
Marana Regional
Avalon
Phoenix-Mesa Gateway
Kalamazoo
Beale Afb
Barksdale Afb
Barnes Municipal
Wings Field
Bryce Canyon
Boca Raton
Baudette Intl
Bradley Intl
Igor I Sikorsky Mem
Beech Factory Airport
Laurence G Hanscom Fld
Southwest Michigan Regional Airport
Bethel
Bradford Regional Airport
Western Nebraska Regional Airport
Boeing Fld King Co Intl
Meadows Fld
Mobile Downtown
Beaver Falls
Beaufort
Decatur County Industrial Air Park
Greater Binghamton Edwin A Link Fld
Bangor Intl
Hancock County - Bar Harbor
Birmingham Intl
Block Island State Airport
Biggs Aaf
Allen Aaf
Billings Logan International Airport
Bismarck Municipal Airport
Tulip City Airport
Keesler Afb
Rocky Mountain Metropolitan Airport
Bemidji Regional Airport
Buckland Airport
Stephens Co
Buckley Afb
Branson LLC
Barking Sands Pmrf
Burke Lakefront Airport
Raleigh County Memorial Airport
Brookings Regional Airport
Boulder City Municipal Airport
Mercer County Airport
Blythe Airport
Bellingham Intl
Scott Afb Midamerica
Brigham City
Monroe County Airport
Central Illinois Rgnl
Beaumont Municipal
Big Mountain Afs
Nashville Intl
Boise Air Terminal
General Edward Lawrence Logan Intl
Bartow Municipal Airport
Southeast Texas Rgnl
Brunswick Golden Isles Airport
Brainerd Lakes Rgnl
Southeast Iowa Regional Airport
Brownsville South Padre Island Intl
Wiley Post Will Rogers Mem
Bradshaw Aaf
Barter Island Lrrs
Bert Mooney Airport
Baton Rouge Metro Ryan Fld
Bettles
Burlington Intl
Buffalo Niagara Intl
Bob Hope
Municipal Airport
Burlington-Alamance Regional Airport
Beverly Municipal Airport
KBWD
Bowling Green-Warren County Regional Airport
Baltimore Washington Intl
Buckeye Municipal Airport
Borrego Valley Airport
Arkansas Intl
Bicycle Lake Aaf
Blakely Island Airport
Gallatin Field
Grand Geneva Resort Airport
Frasca Field
Portage Municipal Airport
Plymouth Municipal Airport
Sylvania Airport
Dowagiac Municipal Airport
Columbia Metropolitan
Akron Canton Regional Airport
Caribou Muni
Greater Cumberland Rgnl.
Columbus Afb
Coweta County Airport
Buchanan Field Airport
Cold Bay
Cedar City Rgnl
Cambridge Municipal Airport
CedarKey
Woodward Field
Chadron Municipal Airport
Childress Muni
Merle K Mudhole Smith
Caldwell Essex County Airport
Del Norte County Airport
Westover Arb Metropolitan
Central Airport
Clemson
Bob Sikes
Cortez Muni
Coulter Fld
Craig Seaplane Base
Crystal River
Cuyahoga County
Cape Girardeau Regional Airport
Meigs Field
Casa Grande Municipal Airport
Lovell Fld
All Airports
Charlottesville-Albemarle
Charleston Afb Intl
Chuathbaluk Airport
Chico Muni
Cedar Rapids
Chalkyitsik Airport
Council Airport
Chippewa County International Airport
Harrison Marion Regional Airport
Crooked Creek Airport
Crisp County Cordele Airport
Clarksville-Montgomery County Regional Airport
Clear Lake Metroport
McClellan-Palomar Airport
Cleveland Hopkins Intl
Easterwood Fld
William R Fairchild International Airport
Chehalis-Centralia
Charlotte Douglas Intl
Clearwater Air Park
Port Columbus Intl
Champaign
Houghton County Memorial Airport
Cavern City Air Terminal
Tstc Waco
Canyonlands Field
Yellowstone Rgnl
Pappy Boyington
Patrick Afb
Merritt Island Airport
Concord Municipal
City Of Colorado Springs Muni
Cotulla Lasalle Co
Columbia Rgnl
Natrona Co Intl
St. Louis Downtown Airport
Grand Strand Airport
Corpus Christi Intl
Yeager
Columbus Metropolitan Airport
Cut Bank Muni
Chester County G O Carlson Airport
West Georgia Regional Airport - O V Gray Field
Cross City
Cincinnati Northern Kentucky Intl
Clovis Muni
Corvallis Muni
Cannon Afb
Charlevoix Municipal Airport
Central Wisconsin
Clinton Municipal
Chatsworth Station
Coldfoot Airport
Calexico Intl
Lone Star Executive
Capital City Airport
Chefornak Airport
Chatham Seaplane Base
Cheyenne Rgnl Jerry Olson Fld
Yakataga Airport
Cape Romanzof Lrrs
Tri-Cities
Chisana Airport
Daytona Beach Intl
Dallas Love Fld
Skyhaven Airport
James M Cox Dayton Intl
W H Barron Field
Dubuque Rgnl
Ronald Reagan Washington Natl
Dodge City Regional Airport
Decatur
Denver Intl
Coleman A Young Muni
Dallas Fort Worth Intl
Douglas Municipal Airport
Deer Harbor Seaplane
Dothan Rgnl
Dalhart Muni
Dickinson Theodore Roosevelt Regional Airport
De Kalb Taylor Municipal Airport
Chautauqua County-Dunkirk Airport
Knoxville Downtown Island Airport
Laughlin Afb
Dillingham
Duluth Intl
Baraboo Wisconsin Dells Airport
Davis Monthan Afb
Daniel Field Airport
Dalton Municipal Airport
Vermilion Regional
Dover Afb
Dupage
Douglas Municipal Airport
Deering Airport
Beauregard Rgnl
Drummond Island Airport
Durango La Plata Co
Del Rio Intl
Des Moines Intl
Delta Municipal Airport
Destin
Detroit Metro Wayne Co
Halliburton Field Airport
Bisbee Douglas Intl
DuBois Regional Airport
Unalaska
Devils Lake Regional Airport
Deer Valley Municipal Airport
Yolo County Airport
David Wayne Hooks Field
Orlando
Danbury Municipal Airport
Dyess Afb
Wickenburg Municipal Airport
Bagdad Airport
Ocean Ridge Airport
Gila Bend Municipal Airport
Chinle Municipal Airport
Eagle Airport
Kearney Municipal Airport
Pangborn Field
Chippewa Valley Regional Airport
Iosco County
Elizabeth City Cgas Rgnl
Panama City-NW Florida Bea.
Elmendorf Afb
Edwards Afb
Eek Airport
Dillant Hopkins Airport
Shelby County Airport
Ellington Fld
Eagle County Airport
Eagle Co Rgnl
Wellington Municipal
Eagle River
Egegik Airport
Cape Newenham Lrrs
Eielson Afb
Elkhart Municipal
Elkins Randolph Co Jennings Randolph
Elko Regional Airport
Bessemer
South Arkansas Rgnl At Goodwin Fld
Elim Airport
Elmira Corning Rgnl
El Paso Intl
Elfin Cove Seaplane Base
Ely Airport
Emmonak Airport
Emporia Municipal Airport
Kenai Muni
Vance Afb
Wendover
Kenosha Regional Airport
Keokuk Municipal Airport
Eastport Municipal Airport
Monroe Reqional Airport
Erie Intl Tom Ridge Fld
Kerrville Municipal Airport
Luce County Airport
Delta County Airport
Orcas Island Airport
Esler Rgnl
Easton-Newnam Field Airport
Weedon Field
Mahlon Sweet Fld
Evansville Regional
Evanston-Uinta CO Burns Fld
New Bedford Regional Airport
Newton City-County Airport
Craven Co Rgnl
Newark Liberty Intl
Excursion Inlet Seaplane Base
Key West Intl
Seaplane Base
Felker Aaf
Fairbanks Intl
Hector International Airport
Fresno Yosemite Intl
Fayetteville Regional Grannis Field
Fredericksburg Amtrak Station
Ladd Aaf
Fort Bridger
Friday Harbor Seaplane Base
Glacier Park Intl
Flying Cloud Airport
Butts Aaf
Fairfield County Airport
Findlay Airport
First Flight Airport
Atlanta Regional Airport - Falcon Field
Wright Patterson Afb
Capital City Airport
Mesa Falcon Field
Sierra Vista Muni Libby Aaf
Fitchburg Municipal Airport
Franklin
Fond Du Lac County Airport
Flagstaff Pulliam Airport
Fort Lauderdale Hollywood Intl
Florence Rgnl
Sherman Aaf
Tipton
Otis Angb
Four Corners Rgnl
Page Fld
Fort Collins Loveland Muni
Funter Bay Seaplane Base
Bishop International
Fort Dodge Rgnl
Forbes Fld
Francis S Gabreski
Friday Harbor Airport
Marshall Aaf
Bryant Ahp
St Lucie County International Airport
Sioux Falls
Henry Post Aaf
Fort Smith Rgnl
Fort Stockton Pecos Co
Godman Aaf
Fort Worth Meacham Intl
Fulton County Airport Brown Field
Fullerton Municipal Airport
Fort Wayne
Fort Lauderdale Executive
Fort Yukon
Drake Fld
Fitzgerald Municipal Airport
Fostoria Metropolitan Airport
Northeast Alabama Regional Airport
Montgomery County Airpark
Edward G Pitka Sr
Gambell Airport
Great Bend Municipal
Gillette-Campbell County Airport
Garden City Rgnl
Grand Canyon National Park Airport
Grand Canyon West Airport
Dawson Community Airport
Gladwin Zettel Memorial Airport
Sussex Co
Spokane Intl
Glendale Municipal Airport
Grand Forks Intl
Floyd Bennett Memorial Airport
Georgetown County Airport
East Texas Rgnl
Wokal Field Glasgow International Airport
Marshfield Municipal Airport
Gilbert Airport
Grand Junction Regional
Gulkana
Arlington Municipal
Renner Fld
Mid Delta Regional Airport
Scholes Intl At Galveston
Golovin Airport
Grants Milan Muni
Goodnews Airport
Gainesville Rgnl
Groton New London
Gulfport-Biloxi
Grand Rapids Itasca County
Galion Municipal Airport
Austin Straubel Intl
Gray Aaf
Central Nebraska Regional Airport
Robert Gray Aaf
Grand Marais Cook County Airport
Gerald R Ford Intl
Seymour Johnson Afb
Piedmont Triad
Greenville-Spartanburg International
Gustavus Airport
Wheeler Sack Aaf
Great Falls Intl
Golden Triangle Regional Airport
Georgetown Municipal Airport
Gunnison - Crested Butte
Gallup Muni
Grissom Arb
Lee Gilmer Memorial Airport
Genesee County Airport
Majors
Greenwood Leflore
Gary Chicago International Airport
Hattiesburg Bobby L. Chain Municipal Airport
Hobart Muni
Columbia County
Holy Cross Airport
Dillingham
Hardwick Field Airport
Yampa Valley
Hondo Municipal Airport
Hartford Brainard
Hagerstown Regional Richard A Henson Field
Hilton Head
Wheeler Aaf
Jack Northrop Fld Hawthorne Muni
Chisholm Hibbing
Hill Afb
Lake Havasu City Airport
Portland Hillsboro
Healy River Airport
Hickory Rgnl
Wheeling Ohio County Airport
Helena Rgnl
Hood Aaf
Holloman Afb
Hoonah Airport
Honolulu Intl
Hana
Haines Airport
Lea Co Rgnl
Homer
Huron Rgnl
Campbell Aaf
Memorial Field
William P Hobby
Hooper Bay Airport
Westchester Co
Bowerman Field
McDuffie County Airport
Valley Intl
Boone Co
Hurlburt Fld
Henderson Executive Airport
Huslia Airport
Homestead Arb
Huntsville International Airport-Carl T Jones Field
Roscommon Co
Tri State Milton J Ferguson Field
Redstone Aaf
Terre Haute Intl Hulman Fld
Houlton Intl
Hughes Airport
Hutchinson Municipal Airport
Tweed-New Haven Airport
Havre City Co
Hayward Executive Airport
North Perry
Hilton Head Airport
Barnstable Muni Boardman Polando Fld
Hydaburg Seaplane Base
Hollis Seaplane Base
Hays Regional Airport
Hazleton Municipal
Mc Connell Afb
Washington Dulles Intl
Niagara Falls Intl
George Bush Intercontinental
Bob Baker Memorial Airport
Wichita Mid Continent
Icy Bay Airport
Idaho Falls Rgnl
Idlewild Intl
Laughlin-Bullhead Intl
Igiugig Airport
Kingman Airport
Lansing Municipal
Windham Airport
Greater Kankakee
Nikolski Air Station
Kirtland Air Force Base
Ankeny Regl Airport
New Castle
Iliamna
Wilmington Intl
Wilmington Airborne Airpark
Immokalee
Ford Airport
Indianapolis Intl
Hillsboro Muni
Winkler Co
Falls Intl
Creech Afb
Smith Reynolds
Winslow-Lindbergh Regional Airport
Iowa City Municipal Airport
Imperial Co
Williamsport Rgnl
Circle City Airport
Kirksville Regional Airport
Kissimmee Gateway Airport
Sloulin Fld Intl
Kinston Regional Jetport
Long Island Mac Arthur
Alexander Field South Wood County Airport
Ithaca Tompkins Rgnl
Hilo Intl
Gogebic Iron County Airport
West Houston
Inyokern Airport
Eastern Slopes Regional
Jackson Hole Airport
Jackson Evers Intl
Jacksonville Intl
Jonesboro Muni
New Century AirCenter Airport
Jefferson City Memorial Airport
Jesup-Wayne County Airport
John F Kennedy Intl
Grand Canyon Heliport
Kapalua
Chautauqua County-Jamestown
Jack Edwards Airport
Joplin Rgnl
Jamestown Regional Airport
Juneau Intl
Regional Airport
West 30th St. Heliport
Wall Street Heliport
John Murtha Johnstown-Cambria County Airport
Southern Wisconsin Regional Airport
Reynolds Field
Plantation Airpark
Leesburg Executive Airport
Pickens County Airport
Wainwright As
Burrello-Mechanicville Airport
Sabetha Municipal
Kake Seaplane Base
Kaltag Airport
Birch Creek Airport
Chignik Bay Seaplane Base
Coffman Cove Seaplane Base
Chignik Lagoon Airport
Chignik Lake Airport
Kenmore Air Harbor Inc Seaplane Base
Ekwok Airport
False Pass Airport
Koliganek Airport
Grayling Airport
Koyuk Alfred Adams Airport
Kitoi Bay Seaplane Base
Kongiganak Airport
Kalskag Airport
Levelock Airport
Larsen Bay Airport
Kelso Longview
Klawock Airport
Manokotak Airport
Moser Bay Seaplane Base
New Stuyahok Airport
Kona Intl At Keahole
Kotlik Airport
Olga Bay Seaplane Base
Ouzinkie Airport
Point Baker Seaplane Base
Port Clarence Coast Guard Station
Kipnuk Airport
Port Williams Seaplane Base
Perryville Airport
Port Bailey Seaplane Base
Akutan Seaplane Base
St Marys Airport
Thorne Bay Seaplane Base
Ketchikan Intl
Brevig Mission Airport
Kasigluk Airport
King Cove Airport
Kivalina Airport
Kwigillingok Airport
Quinhagak Airport
West Point Village Seaplane Base
Kwethluk Airport
Karuluk Airport
Koyukuk Airport
Zachar Bay Seaplane Base
Furnace Creek
Big Bear City
Oceano County Airport
Lamar Muni
Purude University Airport
Lakeland Linder Regional Airport
Los Alamos Airport
Capital City
Laramie Regional Airport
Mc Carran Intl
Lawton-Fort Sill Regional Airport
Los Angeles Intl
Lubbock Preston Smith Intl
Arnold Palmer Regional Airport
North Platte Regional Airport Lee Bird Field
Liberal Muni
Municipal Airport
Lake Charles Rgnl
Rickenbacker Intl
Lake City Municipal Airport
Linden Airport
Lebanon Municipal Airport
Lewiston Maine
Blue Grass
Langley Afb
Angelina Co
Lafayette Rgnl
La Guardia
Long Beach
LaGrange-Callaway Airport
Logan-Cache
Lake Hood Seaplane Base
Lincoln Regional Airport Karl Harder Field
William T. Piper Mem.
La Junta Muni
Lihue
Adams Fld
Livingood Airport
Kenmore Air Harbor Seaplane Base
Kulik Lake Airport
Lake Placid Airport
Klamath Falls Airport
Palm Beach Co Park
Lincoln
Lost Nation Municipal Airport
Tri-County Regional Airport
Lancaster Airport
Lanai
Lewis University Airport
Bowman Fld
London-Corbin Airport-MaGee Field
Lompoc Airport
Lorain County Regional Airport
Lopez Island Airport
Laredo Intl
Little Rock Afb
Mount Pleasant Regional-Faison Field
Las Cruces Intl
La Crosse Municipal
Lawson Aaf
Nellis Afb
Altus Afb
Luke Afb
Cincinnati Muni Lunken Fld
Kalaupapa Airport
Cape Lisburne Lrrs
Livermore Municipal
Mission Field Airport
Las Vegas Muni
South Haven Area Regional Airport
Greenbrier Valley Airport
Lawrence Municipal
Lawrence Municipal Airport
Lewiston Nez Perce Co
Lewistown Municipal Airport
Mexia - Limestone County Airport
Lynchburg Regional Preston Glenn Field
Ely Municipal
Gwinnett County Airport-Briscoe Field
Desert Aire
Madera Municipal Airport
Midland Intl
Manistee County-Blacker Airport
Mbs Intl
Mc Clellan Afld
Mackinac Island Airport
Merced Municipal Airport
Macdill Afb
McGrath Airport
Kansas City Intl
McCook Regional Airport
McKinley National Park Airport
Middle Georgia Rgnl
Orlando Intl
Mason City Municipal
Harrisburg Intl
Chicago Midway Intl
Banks Airport
Key Field
Memphis Intl
Castle
Mansfield Lahm Regional
Mc Allen Miller Intl
Marshfield Municipal Airport
Rogue Valley Intl Medford
Michigan City Municipal Airport
Dobbins Arb
Orange County Airport
Montgomery Regional Airport
Moultrie Municipal Airport
Morgantown Muni Walter L Bill Hart Fld
Dayton-Wright Brothers Airport
Manhattan Reigonal
Minchumina Airport
Sacramento Mather
Manchester Regional Airport
Mojave
Miami Intl
Minot Afb
Crystal Airport
Delaware County Airport
Millville Muni
Downtown
General Mitchell Intl
Muskegon County Airport
Molokai
Mc Kellar Sipes Rgnl
Davis Fld
Melbourne Intl
Mc Alester Rgnl
Malad City
Quad City Intl
Baldwin County Airport
Marshall Don Hunter Sr. Airport
Frank Wiley Field
Millinocket Muni
Monroe Rgnl
Manley Hot Springs Airport
Mammoth Yosemite Airport
McMinn Co
Morristown Municipal Airport
Mc Minnville Muni
Menominee Marinette Twin Co
Minto Airport
Manassas
Mobile Rgnl
Modesto City Co Harry Sham
Minot Intl
Mountain Village Airport
Miami Seaplane Base
MariposaYosemite
Edward F Knapp State
Macomb Municipal Airport
Dare County Regional
Sawyer International Airport
Eastern WV Regional Airport
Merrill Fld
Marco Islands
Foothills Regional Airport
Monterey Peninsula
Northwest Alabama Regional Airport
Dane Co Rgnl Truax Fld
Missoula Intl
Minneapolis St Paul Intl
Massena Intl Richards Fld
Louis Armstrong New Orleans Intl
Selfridge Angb
Florida Keys Marathon Airport
Montrose Regional Airport
Metlakatla Seaplane Base
Martin State
Waimea Kohala
Muir Aaf
Mountain Home Afb
Morrisville Stowe State Airport
Martha\\'s Vineyard
Williamson Country Regional Airport
Lawrence J Timmerman Airport
Grant Co Intl
Mineral Wells
Windom Municipal Airport
Maxwell Afb
McCarthy Airport
Montgomery Field
McCall Municipal Airport
Myrtle Beach Intl
Mekoryuk Airport
Yuba County Airport
Pinal Airpark
Stroudsburg-Pocono Airport
Stormville Airport
Trenton-Robbinsville Airport
New Orleans Nas Jrb
Naval Air Station
Chenega Bay Airport
Lakehurst Naes
Lakefront
Fallon Nas
Kaneohe Bay Mcaf
Corpus Christi NAS
Norfolk Ns
NAS Alameda
Patuxent River Nas
Nikolai Airport
China Lake Naws
Jacksonville Nas
El Centro Naf
Cherry Point Mcas
Miramar Mcas
Lemoore Nas
Nelson Lagoon
Nightmute Airport
Meridian Nas
Nondalton Airport
Port Angeles Cgas
Pensacola Nas
Porter County Municipal Airport
Millington Rgnl Jetport
Kingsville Nas
Key West Nas
Whiting Fld Nas North
Point Mugu Nas
Oceana Nas
Nuiqsut Airport

In [749]:
test = airports['faa'] == 'ORD'

airports[test]

,faa,name,lat,lon,alt,tz,dst,tzone,dest
1026,ORD,Chicago Ohare Intl,41.978603,-87.904842,668,-6,A,America/Chicago,JFK

In [762]:
pip install sqlalchemy  pymysql

Requirement already satisfied: sqlalchemy in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (1.4.1)
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.9 MB/s eta 0:00:011
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/Cellar/jupyterlab/3.0.0_1/libexec/lib/python3.9/site-packages (from sqlalchemy) (1.0.0)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
WARNING: You are using pip version 20.3.1; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.0.0_1/libexec/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [763]:
from sqlalchemy import create_engine

hostname="postgresql-citizen99xyx.alwaysdata.net"
dbname="citizen99xyx_flights_traffic"
uname="citizen99yxz"
pwd="Allstar95!"


# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine('mysql+pymysql://citizen99yxz:Allstar95!@postgresql-citizen99xyx.alwaysdata.net/citizen99xyx_flights_traffic')

airlines.to_sql('users', engine, index=False)

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'postgresql-citizen99xyx.alwaysdata.net' ([Errno 61] Connection refused)")
(Background on this error at: http://sqlalche.me/e/14/e3q8)